<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrestaTA | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>    
    <div class="dashboard">

    <!-- SIDEBAR -->

    <aside class="sidebar">
        <div class="logo">
            <div class="logo-icon"></div>
            <h1>PrestaTA</h1>
        </div>

        <nav class="sidebar-nav">
            <a href="{{url_for('main.dashboard')}}" class="nav-item active">
                <div class="icon home">📈</div>
                Dashboard
            </a>
            <a href="{{url_for('main.prestamo')}}" class="nav-item">
                <div class="icon money">💳</div>
                Préstamos
            </a>

            <a href="{{url_for('main.pago')}}" class="nav-item">
                <div class="icon users">💰</div>
                Pagos
            </a>
            <a href="{{url_for('main.config')}}" class="nav-item">
                <div class="icon settings">⚙️</div>
                Ajustes
            </a>
        </nav>
    </aside>

    <!-- MAIN -->
    <main class="main">
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>