{% extends 'layout.html'%}

{% block title %} PRESTAMO {% endblock %}

{% block content %}
<table>
     id = db.Column(db.Integer, autoincrement=True, primary_key=True)
    cliente_id = db.Column(db.Integer, db.ForeignKey('Clientes.id'), nullable=False)
    usuario_id = db.Column(db.Integer, db.ForeignKey('Usuarios.id'), nullable=False)
    monto = db.Column(db.Float)
    interes = db.Column(db.Float)
    total_pagar = db.Column(db.Float)
    cuotas = db.Column(db.Integer)
    frecuencia = db.Column(db.String(100))
    fecha_inicio = db.Column(db.Date)
    estado = db.Column(db.String(100), default='activo')
    <tr>
        <th>id</th>
        <th>Cliente id</th>
        <th>Usuario id</th>
        <th>Monto</th>
        <th>Interés</th>
        <th>Total a Pagar</th>
        <th>Cuotas</th>
        <th>Frecuencia</th>
        <th>Fecha de Inicio</th>
        <th>Estado</th>

    </tr>
    {% for prestamo in prestamos %}
    <tr>
        <td>{{ prestamo.id }}</td>
        <td>{{ prestamo.cliente_id }}</td>
        <td>{{ prestamo.usuario_id }}</td>
        <td>{{ prestamo.monto }}</td>
        <td>{{ prestamo.interes }}</td>
        <td>{{ prestamo.total_pagar }}</td>
        <td>{{ prestamo.cuotas }}</td>
        <td>{{ prestamo.frecuencia }}</td>
        <td>{{ prestamo.fecha_inicio }}</td>
        <td>{{ prestamo.estado }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}